{% extends 'employees\employee_base.html' %}
{% block title %} Employee Profile Edit {% endblock %}
{% block header %} Update Your Information {% endblock %} 
{% block content %}

<br>
<div class = "container">
    <form class = "form-horizontal" action = "{% url 'employees:edit_profile' %}" method = "post">
        {% csrf_token%}
        <div class = "form-group">
            <label align = "left" class = "col-2" for = 'name'>Name:</label>
            <input align = "left" type = "text" class = "col-6" name = "name" id = "name" value = "{{logged_in_employee_name}}">

        </div> <br>

        <div class="form-group"> 
            <label align ="left" class = "col-2" for ='zip_code'>Zip Code:</label> 
            <input align ="left"  type="text"class = "col-6" name="zip_code" id="zip_code" value="{{logged_in_employee.zip_code}}">
            
        </div> <br>

        <div class="form-group"> 
            <label  align= "left" class = "col-2"  for ='badge_number'>Badge Number:</label> 
            <input align ="left" class = "col-6" type="text" name="badge_number" id="badge_number" value="{{logged_in_employee.badge_number}}" readonly>
            
        </div> <br>
        <div class="form-group"> 
            <div class = "col-md-4">
                <br> 
            <input class="btn btn-primary" type="submit" value="Submit">
        
        </div> <br>
    </div>
    
    </form>
    
    
    
</div> 

{% endblock %}