{% extends 'employees\employee_base.html' %}

{% block title %}{% block header %} {{logged_in_employee}}'s Daily Route {% endblock %}{% endblock %}

{% block content %}
<div> <h3> Todays Date: {{today}}</h3></div> <br>

  {% for customer in valid_route %} 
   
   <div> Customer: {{customer.name}} </div> Zip Code: {{customer.zip_code}} <br>  <a class="btn btn-primary btn-sm" href="{% url 'employees:serviced' customer.id %}" role="button">Mark Serviced</a> <br>
    <br>
  {%endfor%}

 
{% endblock %}