{% extends 'employees/employee_base.html' %}

{% block title %}{% block header %} {{logged_in_employee}}'s Daily Routes {% endblock %}{% endblock %}

{% block content %}

<a href="#">Monday</a> | 
<a href="#">Tuesday</a> | 
<a href="#">Wednesday</a> | 
<a href="#">Thursday</a> | 
<a href="#">Friday</a> | 


<!-- Employee {{ user.username }}'s weekly pickups for {{ day }} are: 
    <ul>
    {% for customer in daily_pickups %}
      <li>{{customer.name}} - {{customer.address}}</li>  
    </ul>
    {% endfor %} -->
{% endblock %}