{% extends 'employees/employee_base.html' %}

{% block title %}{% block header %} {{logged_in_employee}}'s Daily Routes {% endblock %}{% endblock %}

{% block content %}

<a href="{% url 'employees:daily' 'Monday' %}">Monday</a> | 
<a href="{% url 'employees:daily' 'Tuesday' %}">Tuesday</a> | 
<a href="{% url 'employees:daily' 'Wednesday' %}">Wednesday</a> | 
<a href="{% url 'employees:daily' 'Thursday' %}">Thursday</a> | 
<a href="{% url 'employees:daily' 'Friday' %}">Friday</a> | 


    <ul>
    {% for customer in customers %}
      <li>{{customer.name}} - {{customer.address}}</li>  
    {% endfor %}
    </ul>


{% endblock %}